<%- include('./partials/header.ejs') -%> 

<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel-body">

                    <div class="row">    
                        <br>
                        <div class="col-md-2 col-sm-3 text-center">
                            <a class="story-title" href="#"><img alt="" src="http://api.randomuser.me/portraits/thumb/men/58.jpg" style="width:100px;height:100px" class="img-circle"></a>
                        </div>
                        <div class="col-md-10 col-sm-9">
                            <h3><%= book.title %> </h3>
                            <div class="row">
                                <div class="col-xs-9">
                                <h4><span class="label label-default"><%= book.author %></span></h4><h4>
                                <small style="font-family:courier,'new courier';" class="text-muted">2 hours ago</small>
                                </h4></div>
                                <div class="col-xs-3"></div>
                            </div>
                            <br><br>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<%- include('./partials/footer.ejs') -%> 