<%- include('./partials/header') -%> 

<div class="main">       
    <section class="gray-bg" id="sc2">
        <div class="space-80"></div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">
                    <h2>About <strong>Us</strong></h2>
                    <div class="space-20"></div>
                    <div class="title-bar blue">
                        <ul class="list-inline list-unstyled">
                            <li><i class="icofont icofont-square"></i></li>
                            <li><i class="icofont icofont-square"></i></li>
                        </ul>
                    </div>
                    <div class="space-30"></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut gravida, quam vitae est Sed non eros
                        elementum nulla sodales ullamcorper.</p>
                </div>
            </div>
            <div class="space-60"></div>
            <div class="row">
                <div class="hidden-xs hidden-sm col-sm-5 pull-right  wow fadeInRight">
                    <div class="space-60"></div>
                    <div class="my-slider">
                        <ul>
                            <li><img src="images/about-slide/slide1.jpg" alt="library"></li>
                            <li><img src="images/about-slide/slide2.jpg" alt="library"></li>
                            <li><img src="images/about-slide/slide3.jpg" alt="library"></li>
                            <li><img src="images/about-slide/slide4.jpg" alt="library"></li>
                            <li><img src="images/about-slide/slide5.jpg" alt="library"></li>
                            <li><img src="images/about-slide/slide6.jpg" alt="library"></li>
                        </ul>
                    </div>
                    <div class="mama"></div>
                </div>
                <div class="col-xs-12 col-md-7">
                    <ul class="list-unstyled list-inline text-yellow tip">
                        <li><i class="icofont icofont-square"></i></li>
                        <li><i class="icofont icofont-square"></i></li>
                        <li><i class="icofont icofont-square"></i></li>
                    </ul>
                    <div class="space-15"></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultricies eros pellentesque eros
                        interdum, a efficitur tellus malesuada. Nunc non metus quis elit dictum ultricies. Quisque
                        ultricies aliquam arcu.</p>
                    <div class="space-60"></div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 wow fadeIn">
                            <ul class="list-unstyled list-inline icon-bar">
                                <li><i class="icofont icofont-id-card"></i></li>
                            </ul>
                            <h3>Member Card</h3>
                            <p>Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Nullam ultricies eros
                                pellentesque
                            </p>
                            <div class="space-30"></div>
                        </div>
                        <div class="col-xs-12 col-sm-6 wow fadeIn">
                            <ul class="list-unstyled list-inline icon-bar">
                                <li><i class="icofont icofont-medal-alt"></i></li>
                            </ul>
                            <h3>High Quality Books</h3>
                            <p>Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Nullam ultricies eros
                                pellentesque
                            </p>
                            <div class="space-30"></div>
                        </div>
                        <div class="col-xs-12 col-sm-6 wow fadeIn">
                            <ul class="list-unstyled list-inline icon-bar">
                                <li><i class="icofont icofont-read-book-alt"></i></li>
                            </ul>
                            <h3>Free All Books</h3>
                            <p>Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Nullam ultricies eros
                                pellentesque
                            </p>
                            <div class="space-30"></div>
                        </div>
                        <div class="col-xs-12 col-sm-6 wow fadeIn">
                            <ul class="list-unstyled list-inline icon-bar">
                                <li><i class="icofont icofont-book-alt"></i></li>
                            </ul>
                            <h3>Up To Date Books</h3>
                            <p>Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Nullam ultricies eros
                                pellentesque
                            </p>
                            <div class="space-30"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-60"></div>
    </section>
</div>
 
<%- include('./partials/footer') -%> 
