<footer class="black-bg text-white">
    <div class="space-60"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <a href="#"><img src="/images/logo.png" alt=""></a>
                <div class="space-20"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut gravida, quam vitae est Sed non eros
                    elementum nulla sodales ullamcorper.</p>
                <div class="space-10"></div>
                <ul class="list-inline list-unstyled social-list">
                    <li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
                    <li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
                    <li><a href="#"><i class="icofont icofont-social-behance"></i></a></li>
                    <li><a href="#"><i class="icofont icofont-brand-linkedin"></i></a></li>
                </ul>
                <div class="space-10"></div>
                <ul class="list-unstyled list-inline tip yellow">
                    <li><i class="icofont icofont-square"></i></li>
                    <li><i class="icofont icofont-square"></i></li>
                    <li><i class="icofont icofont-square"></i></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1">
                <h4 class="text-white">Contact Us</h4>
                <div class="space-20"></div>
                <table class="table border-none addr-dt">
                    <tr>
                        <td><i class="icofont icofont-social-google-map"></i></td>
                        <td>
                            <address>3050 Universal Blvd #190 Fort Lauderdale, FL, 33331, Sydney New York City
                            </address>
                        </td>
                    </tr>
                    <tr>
                        <td><i class="icofont icofont-email"></i></td>
                        <td><a href="/cdn-cgi/l/email-protection" class="__cf_email__"
                                data-cfemail="91e2e4e2f8e2fdf8f3e3f0e3e8d1f5fefcf0f8ffbff2fefc">[email&#160;protected]</a>
                        </td>
                    </tr>
                    <tr>
                        <td><i class="icofont icofont-phone"></i></td>
                        <td>+62 582 528 527 21</td>
                    </tr>
                    <tr>
                        <td><i class="icofont icofont-globe-alt"></i></td>
                        <td><a href="www.susislibrary.com" target="_blank">www.susislibrary.com</a></td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1">
                <h4 class="text-white">Useful Link</h4>
                <div class="space-20"></div>
                <ul class="list-unstyled menu-tip">
                    <li><a href="#">Costumer Service</a></li>
                    <li><a href="#">Help Desk</a></li>
                    <li><a href="#">Forum</a></li>
                    <li><a href="#">Staff Profile</a></li>
                    <li><a href="#">Live Chat</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="space-60"></div>
</footer>



<script src="/js/jquery.min.js" type="text/javascript"></script>
<script src="/js/bootstrap.min.js" type="177782985b5202146baf7ff2-text/javascript"></script>

<script src="/js/owl.carousel.min.js" type="177782985b5202146baf7ff2-text/javascript"></script>
<script src="/js/responsiveslides.min.js" type="177782985b5202146baf7ff2-text/javascript"></script>
<script src="/js/jquery.cardslider.min.js" type="177782985b5202146baf7ff2-text/javascript"></script>
<script src="/js/pagination.js" type="177782985b5202146baf7ff2-text/javascript"></script>
<script src="/js/scrollUp.min.js" type="177782985b5202146baf7ff2-text/javascript"></script>
<script src="/js/wow.min.js" type="177782985b5202146baf7ff2-text/javascript"></script>
<script src="/js/plugins.js" type="177782985b5202146baf7ff2-text/javascript"></script>

<script src="/js/main.js" type="177782985b5202146baf7ff2-text/javascript"></script>

<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js"
    data-cf-settings="177782985b5202146baf7ff2-|49" defer=""></script>
</body>

</html>